<h1> ### MOVIE QUIZ ### </h1>


<form action="/movieslist" method="POST">

<h2> INTRODUCE EL TITULO DE UNA PELICULA</h2>

  <input type="text" name="titulo" placeholder="Titulo de pelicula">
  
  <button type="submit" name="titulopeli" value="addition">BUSCA!</button>

</form>