<head>
<style>




</style>
</head>


<h1> QUIZ!!! </h1>

<div id="centralbox" width=650px style="margin: 0 auto;">

<% @pelis_poster.each do |peli| %>

  <a><img src="<%= peli.poster %>" width=33% style="float:left;" > </a>


<% end %>

</div>